{% extends 'TnqsoftMaterialBundle:Layout:one-column.html.twig' %}
{##############################################################################}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tnqsoftmaterial/css/exception.css') }}" type="text/css" media="all"/>
{% endblock %}
{##############################################################################}
{% block body %}
    <div class="row">
        <div class="error-box">
            <p class="text-center"><img src="{{ asset('bundles/tnqsoftmaterial/img/exception.jpg') }}"/></p>
            <h1 class="text-center text-danger">Lỗi {{ exception.statusCode }}</h1>
            <div class="text-center well">
                <em>{{ exception.message }}.</em>
            </div>
            <p class="text-center">Bạn có thể quay lại
                <a href="javascript:history.go(-1);">trang trước</a>, hoặc trở về
                <a href="{{ path('homepage') }}">trang chủ</a>
            </p>
        </div>
    </div>
{% endblock %}
