{% form_theme form 'TnqsoftMaterialBundle:Form:form_horizontal_layout.html.twig' %}

<div class="row">
    <div class="col-sm-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                {{ link_button({
                        'text': 'Back',
                        'href': path('admin_author_list'),
                        'class': 'default',
                        'icon': 'chevron-left',
                    }) }}
                {{ button({
                        'text': 'Save',
                        'type': 'submit',
                        'class': 'primary',
                        'icon': 'save',
                    }) }}
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
            {% if delete_form is defined %}
            {{ form_start(delete_form) }}
                {{ button({
                    'text': 'Delete',
                    'type': 'submit',
                    'class': 'danger',
                    'icon': 'trash',
                }) }}
            {{ form_end(delete_form) }}
            {% endif %}
            </div>
        </div>
    </div>
</div>
