{% extends 'TnqsoftDemoBundle:Layout:layout.html.twig' %}
{##############################################################################}
{% block javascripts %}
<script src="{{ asset('bundles/tnqsoftdemo/js/script.js') }}"></script>
{% endblock %}
{##############################################################################}
{% block body %}
    <div class="page-header">
        <h1>Author
            <small>List</small>
        </h1>
    </div>

    <p>
        {{ link_button({
            'text': 'Add New',
            'href': path('admin_author_new'),
            'class': 'success',
            'icon': 'plus',
        }) }}
    </p>

    {{ table_start({ id: 'tableDemo' }) }}
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th><i class="fa fa-key"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if paginator|length > 0 %}
        {% for record in paginator %}
            <tr>
                <td><a href="#">{{ record.name }}</a></td>
                <td>{{ record.description }}</td>
                <td>{% if record.createdAt %}{{ record.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if record.updatedAt %}{{ record.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ record.id }}</td>
                <td>                    
                    {{ link_button({
                        'text': '',
                        'href': path('admin_author_show', { 'id': record.id }),
                        'class': 'primary',
                        'icon': 'eye',
                        'attr': 'data-toggle="tooltip" data-placement="top" title="Detail"'
                    }) }}
                    {{ link_button({
                        'text': '',
                        'href': path('admin_author_edit', { 'id': record.id }),
                        'class': 'info',
                        'icon': 'pencil',
                        'attr': 'data-toggle="tooltip" data-placement="top" title="Edit"'
                    }) }}
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    {{ table_end() }}

{% endblock %}
