{% extends 'TnqsoftDemoBundle:Layout:layout-crud.html.twig' %}
{##############################################################################}
{% block bodyRight %}
    <div class="page-header">
        <h1>Author
            <small>Detail</small>
        </h1>
    </div>

    {{ flash_message() }}

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-right"><strong>Name:</strong>
                </div>
                <div class="col-sm-9">{{ entity.name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right"><strong>Description:</strong>
                </div>
                <div class="col-sm-9">{{ entity.description }}</div>
            </div>
            {% if entity.createdAt %}
                <div class="row">
                    <div class="col-sm-3 text-right"><strong>Created At:</strong>
                    </div>
                    <div class="col-sm-9">{{ entity.createdAt|date('Y-m-d H:i:s') }}</div>
                </div>
            {% endif %}
            {% if entity.updatedAt %}
                <div class="row">
                    <div class="col-sm-3 text-right"><strong>Updated At:</strong>
                    </div>
                    <div class="col-sm-9">{{ entity.updatedAt|date('Y-m-d H:i:s') }}</div>
                </div>
            {% endif %}
        </div>
    </div>

    <hr/>
    <ul class="button-horizontal-list clearfix">
        <li>
            {{ link_button({
            'text': 'Back',
            'href': path('admin_author_list', {}, null, true),
            'class': 'default',
            'icon': 'chevron-left',
        }) }}
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ button({
            'text': '',
            'type': 'submit',
            'class': 'danger',
            'icon': 'trash',
            'attr': 'data-toggle="tooltip" data-placement="top" title="Delete"'
        }) }}
            {{ form_end(delete_form) }}
        </li>
        <li>
            {{ link_button({
                'text': '',
                'href': path('admin_author_edit', { 'id': entity.id }, null, true),
                'class': 'info',
                'icon': 'pencil',
                'attr': 'data-toggle="tooltip" data-placement="top" title="Edit"'
            }) }}
        </li>
    </ul>

{% endblock %}
